body{
    background-color: plum;
}
head{
    background-color: peachpuff;
    margin: 80PX;
}
img{
    border-radius: 100%;
   
}

form h4{
    font-size: 32px;
}
form button{
    padding: 5px;
    width: 60px;
    margin-top: 10px;
}
form label{
    display: block;
    font-size: 22px;
    margin-top: 20px;
}
form input{
    font-size: 16px;
    padding: 5px;
}
form{
    display: grid;
    justify-content: center;
    padding: 60px;
}
